v2/test/src/ericschema/ericschema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="elemType">
  </xs:element>

  <xs:complexType name="elemType">
    <xs:sequence>
      <xs:element name="elem" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="elemTypeDerived">
    <xs:complexContent>
      <xs:extension base="elemType">
        <xs:sequence>
          <xs:element name="elemDerived" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fooType">
    <xs:sequence>
      <xs:element name="foo" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
