v1/test/cases/schema/appview/Add_AcctSiebel7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2004 The Apache Software Foundation

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License. -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:element name="SiebelMessage">
	  <xsd:complexType>
      <xsd:sequence>
			  <xsd:element name="ListOfSampleAccount" type="ListOfSampleAccount_type" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="MessageId" type="xsd:string"/>
			<xsd:attribute name="MessageType" type="xsd:string"/>
			<xsd:attribute name="IntObjectName" type="xsd:string" fixed="Sample Account"/>
			<xsd:attribute name="IntObjectFormat" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ListOfSampleAccount_type">
			<xsd:sequence>
				<xsd:element name="Account" type="Account_type" maxOccurs="unbounded"/>
			</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Account_type">
		 <xsd:sequence>
				<!--xsd:element name="System" type="xsd:string" minOccurs="0"/-->
				<xsd:element name="Culture" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Division" type="xsd:string" minOccurs="0"/>
				<xsd:element name="HomePage" type="xsd:string" minOccurs="0"/>

				<xsd:element name="IntegrationId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LineofBusiness" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Location" type="xsd:string" minOccurs="0"/>

				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ProjectName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Type" type="xsd:string" minOccurs="0"/>

				<xsd:element name="ListOfAccount_Organization" type="ListOfAccount_Organization_type" minOccurs="0"/>

				<xsd:element name="ListOfAccountAttachment" type="ListOfAccountAttachment_type" minOccurs="0"/>
				<!--xsd:element name="ListOfAccountAttachment" type="xsd:string" minOccurs="0"/-->

				<xsd:element name="ListOfBusinessAddress" type="ListOfBusinessAddress_type" minOccurs="0"/>

				<xsd:element name="ListOfContact" type="ListOfContact_type" minOccurs="0"/>
				<!--xsd:element name="ListOfContact" type="xsd:string" minOccurs="0"/-->

				<xsd:element name="ListOfSubAccount" type="ListOfSubAccount_type" minOccurs="0"/>
		  </xsd:sequence>
			<xsd:attribute name="operation" type="xsd:string"/>
			<xsd:attribute name="searchspec" type="xsd:string"/>
		</xsd:complexType>

    <xsd:complexType name="ListOfAccount_Organization_type">
	  	<xsd:sequence>
				<xsd:element name="Account_Organization" type="Account_Organization_type" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="ListOfAccountAttachment_type">
		  <xsd:sequence>
				<xsd:element name="AccountAttachment" type="AccountAttachment_type" minOccurs="0" maxOccurs="unbounded"/>
		  </xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="ListOfBusinessAddress_type">
		  <xsd:sequence>
				<xsd:element name="BusinessAddress" type="BusinessAddress_type" minOccurs="0" maxOccurs="unbounded"/>
		  </xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="ListOfContact_type">
	  	<xsd:sequence>
				<xsd:element name="Contact" type="Contact_type" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="ListOfContact_BusinessAddress_type">
			<xsd:sequence>
				<xsd:element name="Contact_BusinessAddress" type="Contact_BusinessAddress_type" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="ListOfSubAccount_type">
		 <xsd:sequence>
				<xsd:element name="SubAccount" type="SubAccount_type" minOccurs="0" maxOccurs="unbounded"/>
		 </xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="AccountAttachment_type" >
		  <xsd:sequence>
				<xsd:element name="AccntFileExt" type="xsd:string" minOccurs="0"/>
				<xsd:element name="AccntFileName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
				<xsd:element name="AttachmentId" type="xsd:string" minOccurs="0"/>
		  </xsd:sequence>
			<xsd:attribute name="operation" type="xsd:string"/>
			<xsd:attribute name="searchspec" type="xsd:string"/>
		</xsd:complexType>


	 <xsd:complexType name="Account_Organization_type">
		 <xsd:sequence>
			 <xsd:element name="IntegrationId" type="xsd:string" minOccurs="0"/>
			 <xsd:element name="Organization" type="xsd:string" minOccurs="0"/>
		 </xsd:sequence>
		 <xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
		 <xsd:attribute name="operation" type="xsd:string"/>
		 <xsd:attribute name="searchspec" type="xsd:string"/>
	 </xsd:complexType>


	 <xsd:complexType name="BusinessAddress_type">
		 <xsd:sequence>
				<xsd:element name="AddressName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="City" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
				<xsd:element name="FaxNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="IntegrationId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Province" type="xsd:string" minOccurs="0"/>
				<xsd:element name="State" type="xsd:string" minOccurs="0"/>
				<xsd:element name="StreetAddress" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="operation" type="xsd:string"/>
			<xsd:attribute name="searchspec" type="xsd:string"/>
	</xsd:complexType>


	<xsd:complexType name="Contact_type">
		<xsd:sequence>
				<xsd:element name="CellularPhone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Comment2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="FirstName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="HomePhone" type="xsd:string" minOccurs="0"/>
				<xsd:element name="IntegrationId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="JobTitle" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LastName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="MiddleName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Organization" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PersonalContact" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ListOfContact_BusinessAddress" type="ListOfContact_BusinessAddress_type" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="operation" type="xsd:string"/>
			<xsd:attribute name="searchspec" type="xsd:string"/>
	</xsd:complexType>

	<xsd:complexType name="Contact_BusinessAddress_type">
		 <xsd:sequence>
				<xsd:element name="City" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Country" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="State" type="xsd:string" minOccurs="0"/>
				<xsd:element name="StreetAddress" type="xsd:string" minOccurs="0"/>
				<xsd:element name="StreetAddress2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="AddressName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="IntegrationId" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="IsPrimaryMVG" type="xsd:string"/>
			<xsd:attribute name="operation" type="xsd:string"/>
			<xsd:attribute name="searchspec" type="xsd:string"/>
		</xsd:complexType>

	  <xsd:complexType name="SubAccount_type">
			<xsd:sequence>
				<xsd:element name="Id" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Created" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Updated" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ConflictId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ModId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="AccountStatus2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Alias2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="AssignmentAreaCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="AssignmentCountryCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CSN2" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Competitor" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Division" type="xsd:string" minOccurs="0"/>
				<xsd:element name="GroupTypeCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="InternalOrgFlag" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Location" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LocationLevel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="MainFaxNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="MainPhoneNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ParentAccountDivision" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ParentAccountId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ParentAccountLocation" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ParentAccountLocationLevel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ParentAccountName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ParentAccountRegion" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PartyName" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PartyTypeCode" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PartyUId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PrimaryIndustryId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PrimaryOrganizationId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PrimaryPositionId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PrimaryServiceAgreementId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="PrimarySynonymId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Region" type="xsd:string" minOccurs="0"/>
				<xsd:element name="S-SInstance" type="xsd:string" minOccurs="0"/>
				<xsd:element name="S-SInstanceId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="S-SKeyId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="operation" type="xsd:string"/>
			<xsd:attribute name="searchspec" type="xsd:string"/>
  	</xsd:complexType>


</xsd:schema>
