test/cases/schema/appview/DBMS1_AddCustomer_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


  <xsd:element name="Input">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FIRSTNAME" type="xsd:string"/>
        <xsd:element name="LASTNAME" type="xsd:string"/>
        <xsd:element name="DOB" type="xsd:dateTime"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
