v2/test/cases/xbean/marshal/example.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://nosuch.domain.name"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://nosuch.domain.name"
    elementFormDefault="qualified">

<!--    <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/"-->
<!--        schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>-->


    <xs:element name="address" type="tns:USAddress"/>

    <xs:element name="ListOfAddresses">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="address" type="tns:USAddress"
                    minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="USAddress">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="zip" type="tns:ranged-int"/>
        </xs:sequence>
        <xs:attribute name="country" type="xs:NMTOKEN"/>
    </xs:complexType>


    <xs:simpleType name="ranged-int">
        <xs:restriction base="xs:int">
            <xs:maxInclusive value="99999"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="ZTestOne">
        <xs:sequence>
            <xs:element name="subone">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="partOne" type="xs:string">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subone">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

<!---->
<!--    <xs:complexType name="ArrayOfString">-->
<!--        <xs:complexContent>-->
<!--            <xs:restriction base="soapenc:Array">-->
<!--                <xs:attribute ref="soapenc:arrayType" wsdl:arrayType="xs:string[,][,]"/>-->
<!--            </xs:restriction>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->
<!---->
<!--    <xs:complexType name="OtherArrayOfString">-->
<!--        <xs:complexContent>-->
<!--            <xs:restriction base="soapenc:Array">-->
<!--                <xs:attribute ref="soapenc:arrayType" wsdl:arrayType="xs:string[,][,]"/>-->
<!--            </xs:restriction>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->
<!---->
<!---->
<!--    <xs:complexType name="ArrayOfStringOne">-->
<!--        <xs:complexContent>-->
<!--            <xs:restriction base="soapenc:Array">-->
<!--                <xs:attribute ref="soapenc:arrayType" wsdl:arrayType="xs:string[]"/>-->
<!--            </xs:restriction>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->
<!---->
<!--    <xs:complexType name="ArrayOfStringTwo">-->
<!--        <xs:complexContent>-->
<!--            <xs:restriction base="soapenc:Array">-->
<!--                <xs:sequence>-->
<!--                    <xs:element name="unit" type="xs:string" maxOccurs="unbounded"/>-->
<!--                </xs:sequence>-->
<!--            </xs:restriction>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->
<!---->
<!---->
<!--    <xs:complexType name="TripleArrayOfString">-->
<!--        <xs:complexContent>-->
<!--            <xs:restriction base="soapenc:Array">-->
<!--                <xs:attribute ref="soapenc:arrayType"-->
<!--                    wsdl:arrayType="xs:string[][][]"-->
<!--                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">-->
<!---->
<!--                </xs:attribute>-->
<!--            </xs:restriction>-->
<!--        </xs:complexContent>-->
<!--    </xs:complexType>-->
<!---->
<!--    <xs:complexType name="ztwo">-->
<!--        <xs:sequence>-->
<!--            <xs:element name="name" type="xs:string"/>-->
<!--            <xs:element name="aos" type="tns:ArrayOfString"/>-->
<!--            <xs:element name="triple" type="tns:TripleArrayOfString"/>-->
<!--        </xs:sequence>-->
<!--    </xs:complexType>-->


</xs:schema>
