v2/test/cases/schema/cyclone/InterchangePartnerConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Bob Krier (Cyclone COmmerce, Inc.) -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema targetNamespace="http://www.cyclonecommerce.com/Schemas/2001/09/ipp" xmlns="http://www.cyclonecommerce.com/Schemas/2001/09/ipp" xmlns:cop="http://www.cyclonecommerce.com/Schemas/2001/08/cop" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.cyclonecommerce.com/Schemas/2001/08/cop" schemaLocation="http://www.cyclonecommerce.com/Schemas/2001/08/CycloneOrganizationProfile.xsd"/>
	<xsd:element name="InterchangePartnerProfile">
		<xsd:annotation>
			<xsd:documentation>Cyclone Interchange partner profile.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="cop:OrganizationProfile" minOccurs="0"/>
				<xsd:element name="SecondaryIds" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="SecondaryId" type="xsd:string" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Preferences" minOccurs="0"/>
				<xsd:element name="Firewall" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="MinSKeyIterationCount">
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:minInclusive value="0"/>
										<xsd:maxInclusive value="65535"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Security" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Security parameters.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="DocumentSigning" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Boolean value indicating if documents received by this partner should be signed.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DocumentAcknowledgement" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Document acknowledgement configuration.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="RequestSigned" type="xsd:boolean">
											<xsd:annotation>
												<xsd:documentation>Boolean value indicating document acknowledgments should be signed.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="RequestSynchronous" type="xsd:boolean">
											<xsd:annotation>
												<xsd:documentation>Boolean value indicating if acknowledgements should be immediately received.  Requires bundled HTTP(S).</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="value" type="xsd:boolean" use="required"/>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="MessageDigest" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Defines the document message digest algorithim to use.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:NMTOKEN">
										<xsd:enumeration value="MD5"/>
										<xsd:enumeration value="SHA1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="DocumentEncryption" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Defines the type of document encryption algorithim to use.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:choice>
										<xsd:element name="RC2Encryption">
											<xsd:annotation>
												<xsd:documentation>RC2 Encryption algorithim.  Key length is required.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="keyLength" use="required">
													<xsd:simpleType>
														<xsd:restriction base="xsd:NMTOKEN">
															<xsd:enumeration value="40"/>
															<xsd:enumeration value="64"/>
															<xsd:enumeration value="128"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="ARCFourEncryption">
											<xsd:annotation>
												<xsd:documentation>ARCFour Encryption algorithim.  Key length is required.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="keyLength" use="required">
													<xsd:simpleType>
														<xsd:restriction base="xsd:NMTOKEN">
															<xsd:enumeration value="40"/>
															<xsd:enumeration value="64"/>
															<xsd:enumeration value="128"/>
														</xsd:restriction>
													</xsd:simpleType>
												</xsd:attribute>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="DESEncryption">
											<xsd:annotation>
												<xsd:documentation>DES Encryption algorithim.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="keyLength" type="xsd:int" use="optional" fixed="56"/>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TripleDESEncryption">
											<xsd:annotation>
												<xsd:documentation>Triple DES Encryption algorithim.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="keyLength" type="xsd:int" use="optional" fixed="168"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:choice>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BinaryDirectories" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Defines a collection of binary companies.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BinaryCompany" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Defines a collection of binary directories for a company.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="BinaryDirectory" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Defines the inbound and outbound binary directories for a partner.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:attribute name="partnerId" type="xsd:string" use="required"/>
												<xsd:attribute name="inboundPath" type="xsd:string" use="required"/>
												<xsd:attribute name="outboundPath" type="xsd:string" use="required"/>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="companyId" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="group" type="xsd:string" use="optional"/>
			<xsd:attribute name="version" type="xsd:string" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Preferences">
		<xsd:annotation>
			<xsd:documentation>Partner profile transport and document settings.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Schedule" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies the schedule to use when sending documents to this partner.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="InboundFilePreservation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies if inbound files should be persisted with their original file name.  Option attribute allows for overwriting or sequencing files with duplicate file names.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentOptions" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Global document configuration options.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RejectDuplicateEDI" type="xsd:boolean">
								<xsd:annotation>
									<xsd:documentation>Boolean value indicating if EDI document recieved with duplicate control IDs should be rejected.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Compression" default="NONE" nillable="false">
								<xsd:annotation>
									<xsd:documentation>Indicates the type of compression algorithim to use (NONE, GZIP or ZLIB). </xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="GZIP"/>
										<xsd:enumeration value="ZLIB"/>
										<xsd:enumeration value="NONE"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ResendAttempts">
								<xsd:annotation>
									<xsd:documentation>Integer value indicating the number of times a document should be resent if an acknowledment has not been recieved.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:minInclusive value="0"/>
										<xsd:maxInclusive value="60"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="ResendInterval">
								<xsd:annotation>
									<xsd:documentation>Integer value indicating the duration (in hours) between resend attepts.</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:int">
										<xsd:minInclusive value="1"/>
										<xsd:maxInclusive value="9999"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TransportRetries" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Specifies the Transport retries option and interval.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="duration" type="xsd:integer" use="optional"/>
						<xsd:attribute name="falloff" type="xsd:integer" use="required"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BusinessProtocol">
		<xsd:annotation>
			<xsd:documentation>Base definition for a business protocol.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TransportRef" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="businessProtocolId" type="xsd:IDREF" use="required"/>
	</xsd:complexType>
	<xsd:element name="TransportRef">
		<xsd:annotation>
			<xsd:documentation>A reference to a Transport defined elsewhere.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
