v2/test/cases/schema/appview/Headers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Sheet1">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="row" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="col1" type="xsd:string"/>
	<xsd:element name="col2" type="xsd:string"/>
	<xsd:element name="col3">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Lord"/>
				<xsd:enumeration value="Mr"/>
				<xsd:enumeration value="Mrs"/>
				<xsd:enumeration value="Sir"/>
				<xsd:enumeration value="TITLE"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="col4" type="xsd:string"/>
	<xsd:element name="col5" type="xsd:string"/>
	<xsd:element name="col6" type="xsd:string"/>
	<xsd:element name="col7">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="COUNTRY"/>
				<xsd:enumeration value="Jamaica"/>
				<xsd:enumeration value="UK"/>
				<xsd:enumeration value="USA"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="row">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="col1"/>
				<xsd:element ref="col2"/>
				<xsd:element ref="col3"/>
				<xsd:element ref="col4"/>
				<xsd:element ref="col5"/>
				<xsd:element ref="col6"/>
				<xsd:element ref="col7"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="workbook">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Sheet1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
