src/test/resources/xbean/scomp/xmlbeans-583/xmltostringtest3xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="XmlToStringTest3Xsd.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:this="XmlToStringTest3Xsd.xsd" xmlns:ns1="XmlToStringTest1Xsd.xsd">
  <xs:import namespace="XmlToStringTest1Xsd.xsd" schemaLocation="xmltostringtest1xsd.xsd"/>
  <xs:complexType name="Ns3T1">
    <xs:sequence>
      <xs:element name="Ns3T1E1" type="ns1:Ns1T1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ns3E1" type="this:Ns3T1"/>
</xs:schema>