v1/test/src/schemas/nonamespace.xsd

<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified">

  <xs:element name="nchain" type="nchainlink"/>

  <xs:complexType name="nchainlink">
    <xs:sequence>
      <xs:element ref="nchain"/>
    </xs:sequence>
    <xs:attribute ref="nname"/>
  </xs:complexType>

  <xs:simpleType name="ntoken">
    <xs:restriction base="xs:token">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="nname" type="ntoken"/>

</xs:schema>
