src/test/resources/xbean/tools/inst2xsd/schema/complex/sample/choice_rd_scs_eN1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2004 The Apache Software Foundation

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License. -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="choiceInstance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="a">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="b">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="c">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                      <xs:attribute type="xs:string" name="x"/>
                      <xs:attribute ref="baz:x" xmlns:baz="baz"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="n" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <xs:attribute ref="baz:n" xmlns:baz="baz"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="e">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="c">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">
                      <xs:attribute ref="baz:n" xmlns:baz="baz"/>
                      <xs:attribute ref="baz:x" xmlns:baz="baz"/>
                      <xs:attribute type="xs:byte" name="n"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute ref="baz:x" xmlns:baz="baz"/>
            <xs:attribute ref="baz:n" xmlns:baz="baz"/>
            <xs:attribute type="xs:string" name="x" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="f">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="c" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            </xs:sequence>
            <xs:attribute ref="baz:n" xmlns:baz="baz"/>
            <xs:attribute ref="baz:x" xmlns:baz="baz"/>
            <xs:attribute type="xs:string" name="x" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute ref="baz:n" xmlns:baz="baz"/>
      <xs:attribute ref="baz:x" xmlns:baz="baz"/>
      <xs:attribute type="xs:byte" name="n" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
</xs:schema>