v2/test/cases/xmlcatalog/MOVEDincluded.xsd

<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified">

  <xs:element name="chain" type="chainlink"/>

  <xs:complexType name="chainlink">
    <xs:sequence>
      <xs:element ref="chain"/>
    </xs:sequence>
    <xs:attribute ref="name"/>
  </xs:complexType>

  <xs:simpleType name="token">
    <xs:restriction base="xs:token">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attribute name="name" type="token"/>

</xs:schema>
